<style type="text/css">
    div#links{
        float:left;
    }
    div#menu{
        float:right;
    }
    div#credits{
        clear:both;
    }
</style>

<div class="container">
        <div class="jumbtron">
                
                

                <div class="row">
                    
                    <app-buscar></app-buscar>

                    <hr>                   
                    
                </div>

                <app-list></app-list>

                

                <app-pwdcambio></app-pwdcambio>
        </div>

        
        

</div>

<div id="links">
        <app-upanel></app-upanel>
</div>


